<h1>Тренировки</h1>

{{link-to 'Добавить запись' 'workouts.new'}}

<ul>
  {{#each model as |workout|}}
    <li>
      {{#link-to 'workouts.show' workout}}
        {{workout.id}}
      {{/link-to}}
    </li>
  {{/each}}
</ul>
