<h1>Тренировки</h1>

{{link-to 'Добавить запись' 'workouts.new' class='btn btn-primary'}}

<ul>
  {{#each model as |workout|}}
    <li>
      {{#link-to 'workouts.show' workout}}
        {{formatted-date workout.trainedAt 'LL'}}
      {{/link-to}}
      <a href="#" {{action 'delete' workout}}>Delete</a>
    </li>
  {{/each}}
</ul>
